body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-audiowide: Audiowide;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-3xl: 22px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-16xl: 35px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-11xl: 30px;
  --font-size-39xl: 58px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro-100: #dddbdb;
  --color-gainsboro-200: #d9d9d9;
  --color-darkslategray: #3c342e;
  --color-darkslateblue: #0a4175;
  --color-dimgray: #565454;
  --color-midnightblue: #001047;
  --color-darkgray: #969696;
  --color-peru: rgba(194, 107, 49, 0.75);

  /* Gaps */
  --gap-3xs: 10px;
  --gap-58xl: 77px;
  --gap-11xl: 30px;
  --gap-19xl: 38px;
  --gap-64xl: 83px;
  --gap-6xl: 25px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-11xl: 30px;
  --padding-4xl: 23px;
  --padding-23xl: 42px;
  --padding-3xs: 10px;
  --padding-42xl: 61px;
  --padding-52xl: 71px;
  --padding-xl: 20px;
  --padding-43xl: 62px;
  --padding-6xl: 25px;
  --padding-38xl: 57px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-xs: 12px;
  --br-4xl: 23px;

  /* Effects */
  --shadow: 0px 0px 102px 2px rgba(0, 0, 0, 0.25);
  --shadow-l: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
}
